body {
  background-image: linear-gradient(
    rgb(147, 181, 198),
    rgb(201, 204, 213),
    rgb(228, 216, 220),
    rgb(255, 227, 227)
  ) !important;
}

h1 {
  color: #4c4c6d;
  font-size: 150%;
  position: relative;
  left: 100px;
}

h2 {
  color: #4c4c6d;
  position: relative;
  left: 100px;
}

form {
  position: relative;
  left: 400px;
  top: -50px;
}

.blurb {
  position: relative;
  top: -200px;
  left: 550px;
  font-size: 30px;
  font-weight: 400;
  color: #4c4c6d;
}

.card-body {
  text-align: center;
  background-color: #e4d8dc;
}

h5 {
  text-align: center;
  color: #3c5186;
  background: #c9ccd5;
}

.emoji {
  font-size: 60px;
}

.today_emoji {
  font-size: 80px;
}

a:link {
  text-decoration: none;
}

.container {
  border: 2px solid gray;
  border-radius: 40px;
  display: block;
  margin: 100px;
  padding: 50px;
  background-image: url("../images/sky.jpg");
  background-size: 1315px;
}

.card-text {
  color: #4c4c6d;
}

.card-title {
  color: #4c4c6d;
}

.github {
  color: #3c5186;
  position: relative;
  top: -100px;
  left: 120px;
}

.weather-today .active {
  color: #3c5186;
  cursor: default;
}

.weather-today .active:hover {
  text-decoration: none;
}
