body {
  background-color: #f3f0d7;
}
.weather-app {
  max-width: 550px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  border-color: #2f5d62;
  background-color: #a7c4bc;
  color: #2f5d62;
}

h2,
h5 {
  color: #5e8b7e;
}
ul {
  list-style-type: none;
}

.github {
  position: relative;
  bottom: 30px;
  left: 20px;
}
.far {
  position: relative;
  bottom: 30px;
}

.current-temp {
  font-size: 60px;
}

.weather-description {
  font-size: 20px;
}

.degree-indicator {
  position: relative;
  bottom: 27px;
}

.current-weather-icon {
  position: relative;
  bottom: 20px;
}

.btn-primary {
  background-color: #2f5d62 !important;
  border-color: #dfeeea !important;
  color: #dfeeea !important;
}

.form-control {
  background-color: #dfeeea;
  color: #2f5d62;
}

.forecast {
  text-align: center;
  margin: 10px;
}

.forecast-date {
  color: #2f5d62;
}

.forecast-low {
  opacity: 0.6;
}

.forecast-icon {
  position: relative;
  right: 20px;
}
